<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>社員削除</title>
</head>
<body>

	<h1>社員削除</h1>
	<form th:action="@{/employee/delete/{employeeId}/execute(employeeId=${employee.id.value})}" th:object="${employee}" method="POST">
		<table>
			<tbody>
				<tr>
					<th>氏名</th>
					<td th:text="*{name.fullName()}">社員 太郎</td>
				</tr>
				<tr>
					<th>性別</th>
					<td th:text="*{gender.label}">男性</td>
				</tr>
				<tr>
					<th>生年月日</th>
					<td th:text="*{#temporals.format(dateOfBirth.value,'yyyy年M月d日')}">1983/06/14</td>
				</tr>
				<tr>
					<th>所属部署</th>
					<td th:text="*{department.name.value}">システム統括本部</td>
				</tr>
			</tbody>
		</table>
		<p>この社員情報を削除します。よろしいですか？</p>

		<p>
			<input type="button" th:onclick="|location.href='@{/employee}'|" value="戻る" />
			<input type="submit" value="削除">
		</p>
	</form>

</body>
</html>