<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="example.training.datasource.account.AccountMapper">

	<resultMap  id="Account" type="example.training.model.account.Account">
		<id column="id" property="id.value"/>
		<result column="login_id" property="loginId.value"/>
		<result column="name" property="name.value"/>
		<result column="password" property="password.value"/>
		<result column="role_type" property="role"/>
	</resultMap>

	<select id="findByLoginId" resultMap="Account">
		SELECT
			account.id,
			account.login_id,
			account.name,
			account.password,
			account.role_type
		FROM
			account.account
		WHERE
			account.login_id = #{loginId}
	</select>

</mapper>