<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>社員登録</title>
</head>
<body>
	<form th:action="@{/employee/register/execute}" th:object="${employee}" method="POST">
		<h1>社員登録</h1>
		<table>
			<tbody>
				<tr>
					<th>氏名</th>
					<td th:text="*{name.fullName()}">社員 太郎</td>
				</tr>
				<tr>
					<th>性別</th>
					<td th:text="*{gender.label}">男性</td>
				</tr>
				<tr>
					<th>生年月日</th>
					<td th:text="*{dateOfBirth.value}">1983/06/14</td>
				</tr>
				<tr>
					<th>所属部署</th>
					<td th:text="${departmentList.departmentNameById(__*{department.id.value}__).value}">システム統括本部</td>
				</tr>
			</tbody>
		</table>

		<p>
			<input type="button" th:onclick="|location.href='@{/employee/register/back}'|" value="戻る" />
			<input type="submit" value="登録">
		</p>
	</form>

</body>
</html>